.HomePage_front {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.mid_header{
   margin:4%;
   padding: 6%; 
}
.hm_container1 {
    flex: 1;
    background-color: lightcoral;
    padding: 20px;
    margin: 5px;
}

.hm_container2 {
    flex: 4;
    background-color: lightblue;
    padding: 20px;
    margin: 5px;
    display:flex;
    flex-wrap: wrap;
}

.hm_container3 {
    flex: 2;
    background-color: lightgreen;
    padding: 20px;
    margin: 5px;
}
