<<<<<<< HEAD
.HomePage_front{
    display: flex;
    height: 100vh;
    background-color: white;
=======
.HomePage_front {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.mid_header{
    
>>>>>>> 44b28389e81db4b7b796bc537d64294456ec4c60
}
.hm_container1 {
    flex: 1;
    background-color: lightcoral;
    padding: 20px;
<<<<<<< HEAD
    text-align: center;
    height: 300px;
=======
    margin: 5px;
>>>>>>> 44b28389e81db4b7b796bc537d64294456ec4c60
}

.hm_container2 {
    flex: 4;
    background-color: lightblue;
    padding: 20px;
    margin: 5px;
}

.hm_container3 {
    flex: 2;
    background-color: lightgreen;
    padding: 20px;
    margin: 5px;
}
