.hr_home{
    display: flex;
    height: 95vh;
}
.hr_h_left{
    background-color: aliceblue;
    height: 100vh;
    width: 20%;
}
.hr_h_center{
    background: linear-gradient(60deg, #fbfbfb,blue);
    height: 100vh;
    width: 50%;
}
.hr_h_right{
    background-color: blue;
    height: 100vh;
    width: 30%;
}
.hr_h_options{
    margin-top: 100px;
    padding: 10px;
    font-size: 1.5rem;
}
.hr_h_options li{
    margin-top: 20px;
}
.hr_h_options #lower{
    position:absolute;
    
}